.body{
  background-color: rgb(226, 198, 226);
  color: blueviolet;
  margin: 3%;
}

.enviornment{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

.productivity{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

.drive{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

.working-with-others{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

.search-engine{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

#c-sharp{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

#react{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

#java-script{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  background-color: rgb(180, 209, 206);
}

.dark-mode {
  background-color: black;
  color: blueviolet;
}

.submit {
  background-color: blueviolet;
  color: rgb(226, 198, 226);
}

.hidden{
  display: none;
}