.body{
  background-color: rgb(226, 198, 226);
  color: blueviolet;
  margin: 3%;
}

.enviorment{
  box-sizing: border-box;
  padding: 5px;
  border: solid blueviolet;
  width: 18%;
  margin: 2%
}

.dark-mode {
  background-color: black;
  color: rgb(226, 198, 226);
}

.submit {
  background-color: blueviolet;
  color: rgb(226, 198, 226);
}
